/__pycache__
/.ipynb_checkpoints
/model/best_m_openvino_model
/lsm_files
/.cache
/model/__pycache__
/UI/__pycache__
/myenv
/model/sahi/__pycache__
/model/sahi/*/__pycache__
/output
*.lsm
*.TIF
*.ipynb
*.npy
*.exe
*.csv
*xlsx
/model/__pycache__
/UI/__pycache__
/UI/right_layout/__pycache__
/UI/right_layout/plugins/__pycache__
/myenv
UI\right_layout\__pycache__
UI\right_layout\plugins\__pycache__
qwe.py
/tracker_output
/tracker_output/frames
/tracker_output/tabular data