**/__pycache__
/.ipynb_checkpoints
/model/best_m_openvino_model
/lsm_files
/.cache
/myenv
/output
*.ipynb
*.npy
*.exe
*.csv
*xlsx
qwe.py
/tracker_output
/tracker_output/frames
/tracker_output/tabular data
/trainedmodels
app.log
/.cache
/.vscode
/.vs
/packages
/logs
.DS_Store
application_settings*.json
/.idea
